* {
  color: #00175d;
}

h1 {
  color: #00175d;
  font-style: italic;
  margin-bottom: 1rem;
}

input, select, option {
  border-radius: 5px;
  height: 35px;
  width: 400px;
  padding-left: 5px;
  box-shadow: 0 3px 10px #0003;
  border: unset;
  font-size: 14px;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
}

button {
  width: 400px;
  margin-top: 1rem;
  padding: 10px;
  border: unset;
  background-color: #61dcab;
  color: #00175d;
  font-weight: 500;
  border-radius: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.img-previa {
  margin-top: 2rem;
}

canvas {
  width: 60%;
}

.enviar-imagem {
  max-width: 400px;
  height: auto;
  position: relative;
  font-size: 14px;
  background-color: transparent;
  border: 2px dotted #ccc;
  padding: 20px 20px 4px 20px;
}

#logo {
  font-size: 14px;
  background-color: #61dcab;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

#logoInput{
  display: none;
}

#imgName {
  font-size: 12px;
  margin-left: 12px;
}
