<h1 class="titlePage">Gerador de Imagens para Novos Projetos e Clientes</h1>

<form class="form-criar-imagem" (submit)="criarImagemPersonalizada()">
  <div class="form-group">
    <label for="nomeCliente">Nome do Cliente:</label>
    <input type="text" id="nomeCliente" [(ngModel)]="nomeCliente" name="nomeCliente" required>
  </div>
  <div class="form-group">
    <label for="avisoProjeto">Tipo de Aviso:</label>
    <select id="avisoProjeto" [(ngModel)]="avisoProjeto" name="avisoProjeto" required>
      <option value="AVISO DE NOVO PROJETO!">Novo projeto</option>
      <option value="AVISO DE NOVO CLIENTE!">Novo cliente</option>
    </select>
  </div>
  <div class="form-group">
    <label for="tipoProjeto">Tipo de Projeto:</label>
    <input type="text" id="tipoProjeto" [(ngModel)]="tipoProjeto" name="tipoProjeto" required>
  </div>
  <div class="form-group">
    <label>Logo (PNG):</label>
    <div class="enviar-imagem">
      <label id="logo" for="logoInput">Enviar imagem</label>
      <span id="imgName">Nenhuma imagem selecionada</span>
      <input type="file" id="logoInput" (change)="onFileSelected($event)" accept=".png, .jpeg, .svg" />
      <div class="mt-3">
        <small>Dimensão recomendada: 850 x 289</small>
      </div>
    </div>
  </div>
  <button type="submit">Criar Imagem Personalizada</button>
</form>

<div class="img-previa">
  <canvas #canvas></canvas>
</div>