<!-- Seu HTML adaptado -->
<div class="menu-lateral">
  <ul>
    <li>
      <button routerLink="/dashboard" [class.link-ativo]="isLinkAtivo('/dashboard')">
        <i class="fas fa-home"></i>Home
      </button>
    </li> <!-- Home -->

    <li>
      <button routerLink="/dashboard/perfil" [class.link-ativo]="isLinkAtivo('/dashboard/perfil')">
        <i class="fas fa-user"></i>Perfil
      </button>
    </li> <!-- Perfil -->

    <li *ngIf="todos">
      <span class="collapsed d-block" (click)="collapseMenu($event)">
        <i class="fa-solid fa-table-list"></i> Oportunidades
        <i class="fa-solid fa-chevron-down"></i>
      </span>
      <ul class="collapse">
        <li>
          <button type="button" routerLink="/dashboard/icp" [class.link-ativo]="isLinkAtivo('/dashboard/icp')">
            <i class="fa-solid fa-chart-line"></i>Validação ICP
          </button>
        </li>
        <li *ngIf="master || comercial || exception || cs">
          <button routerLink="/dashboard/adicionar-oportunidade" [class.link-ativo]="isLinkAtivo('/dashboard/adicionar-oportunidade')">
            <i class="fa-solid fa-circle-plus"></i>Nova Oportunidade
          </button>
        </li>
        <li *ngIf="master || comercial || exception || cs">
          <button routerLink="/dashboard/controle-geral" [class.link-ativo]="isLinkAtivo('/dashboard/controle-geral')">
            <i class="fa-solid fa-table-cells-large"></i>Controle Geral
          </button>
        </li>
      </ul>
    </li> <!-- Oportunidades -->

    <li *ngIf="master || comercial || cs">
      <span class="collapsed d-block" (click)="collapseMenu($event)">
        <i class="fa-solid fa-file-pen"></i> Propostas
        <i class="fa-solid fa-chevron-down"></i>
      </span>
      <ul class="collapse">
        <li>
          <button>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
            <a target="_blank" href="https://drive.google.com/drive/folders/10QZpq7W0RcuwvVNaioEYjOZiZHI5y24p">
              Template de Contratos
            </a>
          </button>
        </li>
      </ul>
    </li> <!-- Propostas -->

    <li class="has-children" [ngClass]="{ 'submenu-open': showSubmenu }" *ngIf="master">
      <span class="collapsed d-block" (click)="handleSubmenu()">
        <i class="fa-solid fa-file-contract"></i> Contratos
        <i class="fa-solid fa-chevron-down"></i>
      </span>
      <ul class="submenu">
        <li>
          <button type="button" routerLink="/dashboard/contratos" [class.link-ativo]="isLinkAtivo('/dashboard/contratos')">
            <i class="fas fa-home"></i>Página Inicial
          </button>
        </li>
        <li>
          <button type="button" routerLink="/dashboard/contratos/criar" [class.link-ativo]="isLinkAtivo('/dashboard/contratos/criar')">
            <i class="fa-solid fa-pen"></i>Criar Contratos
          </button>
        </li>
        <li>
          <button type="button" routerLink="/dashboard/contratos/listar" [class.link-ativo]="isLinkAtivo('/dashboard/contratos/listar')">
            <i class="fa-solid fa-folder"></i>Contratos Criados
          </button>
        </li>
        <li>
          <button type="button" routerLink="/dashboard/contratos/arquivo" [class.link-ativo]="isLinkAtivo('/dashboard/contratos/arquivo')">
            <i class="fa-solid fa-file-contract"></i>Ver Modelo
          </button>
        </li>
        <li>
          <button>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
            <a target="_blank" href="https://drive.google.com/drive/folders/1-OeanOV1CU5o5YvG7n16o2Uo7GXzrAjj">
              Template de Contratos
            </a>
          </button>
        </li>
      </ul>
    </li> <!-- Contratos (Comercial e Master) -->

    <li *ngIf="todos">
      <button routerLink="/dashboard/comercial" [class.link-ativo]="isLinkAtivo('/dashboard/comercial')">
        <i class="fa-solid fa-file-image"></i>Gerador de Imagem
      </button>
    </li> <!-- Gerador de Imagem -->

    <li *ngIf="todos">
      <span class="collapsed d-block" (click)="collapseMenu($event)">
        <i class="fa-solid fa-store"></i> Produtos
        <i class="fa-solid fa-chevron-down"></i>
      </span>
      <ul class="collapse">
        <li *ngIf="master || comercial">
          <button routerLink="/dashboard/mix-produtos" [class.link-ativo]="isLinkAtivo('/dashboard/mix-produtos')">
            <i class="fa-solid fa-tags"></i>Mix de Produtos
          </button>
        </li> <!--Mix de Produtos-->
        <li *ngIf="master || comercial || cs">
          <button>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
            <a
              target="_blank"
              href="https://nairuzcombr-my.sharepoint.com/:x:/r/personal/contato_nairuz_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BA9AEE6CE-711B-44A8-B37B-F3F8E718BFD8%7D&file=Tabela%20de%20Pre%C3%A7os.xlsx&action=default&mobileredirect=true&wdOrigin=OUTLOOK-METAOS.FILEBROWSER"
            >
              Tabela de Preços
            </a>
          </button>
        </li> <!--Tabela de Preços-->
        <li *ngIf="master || comercial || cs">
          <button routerLink="/dashboard/tabela-valores" [class.link-ativo]="isLinkAtivo('/dashboard/tabela-valores')">
            <i class="fa-solid fa-table-columns"></i>Tabela de Valores
          </button>
        </li> <!--Tabela de Preços-->
      </ul>
    </li> <!-- Produtos -->

    <li *ngIf="master || comercial">
      <span class="collapsed d-block" (click)="collapseMenu($event)">
        <i class="fa-solid fa-wallet"></i>Comissões Comercial
        <i class="fa-solid fa-chevron-down"></i>
      </span>
      <ul class="collapse">
        <li *ngIf="master || comercial">
          <button routerLink="/dashboard/meta-empresa" [class.link-ativo]="isLinkAtivo('/dashboard/meta-empresa')">
            <i class="fa-solid fa-building"></i>Meta Empresa
          </button>
        </li> <!--Meta empresa-->
        <li *ngIf="master || comercial">
          <button routerLink="/dashboard/tabela-metas" [class.link-ativo]="isLinkAtivo('/dashboard/tabela-metas')">
            <i class="fa-solid fa-bullseye"></i>Tabela de Metas
          </button>
        </li> <!--Meta vendedor comercial-->
        <li *ngIf="master || comercial">
          <button routerLink="/dashboard/calculo-comissao" [class.link-ativo]="isLinkAtivo('/dashboard/calculo-comissao')">
            <i class="fa-solid fa-coins"></i>Comissões
          </button>
        </li> <!--comissão vendedor comercial-->
      </ul>
    </li> <!-- Comissões Comercial -->

    <li *ngIf="master || cs || liderCs">
      <span class="collapsed d-block" (click)="collapseMenu($event)">
        <i class="fa-solid fa-wallet"></i>Comissões CS
        <i class="fa-solid fa-chevron-down"></i>
      </span>
      <ul class="collapse">
        <li *ngIf="master || comercial || liderCs">
          <button routerLink="/dashboard/meta-empresa" [class.link-ativo]="isLinkAtivo('/dashboard/meta-empresa')">
            <i class="fa-solid fa-building"></i>Meta Empresa
          </button>
        </li> <!--Meta empresa-->
        <li>
          <button routerLink="/dashboard/calculo-comissao-cs" [class.link-ativo]="isLinkAtivo('/dashboard/calculo-comissao-cs')">
            <i class="fa-solid fa-coins"></i>Comissões
          </button> <!--Comissão CS-->
        </li>
        <li>
          <button routerLink="/dashboard/tabela-metas-cs" [class.link-ativo]="isLinkAtivo('/dashboard/tabela-metas-cs')">
            <i class="fa-solid fa-bullseye"></i>Tabela de Metas
          </button>
        </li> <!--Meta CS-->
      </ul>
    </li> <!-- Comissões CS -->

    <li>
      <button routerLink="/" [class.link-ativo]="isLinkAtivo('/')" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i>Sair
      </button>
    </li> <!-- Sair -->

  </ul>
</div>
