.menu-lateral {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #eeeeee6b;
}

.menu-lateral ul {
  list-style: none;
  padding: 0;
}

.menu-lateral ul li {
  margin-bottom: 1rem;
}

.menu-lateral ul li button {
  color: #fff;
  text-decoration: unset;
  background: unset;
  border: unset;
  font-size: 14px;
  line-height: 1;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 30px;
}

.menu-lateral ul li button i {
  width: 20px;
  transition: all .3s ease-in-out;
}

.link-ativo, 
.link-ativo i {
  color: #61dcab !important;
}

.has-children button {
  width: 100%;
}
.has-children span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.has-children .submenu {
  padding-left: 16px;
  display: none;
}
.has-children.submenu-open .submenu {
  display: block;
}
.has-children.submenu-open .fa-chevron-down {
  transform: rotate(-180deg);
}