<!-- Seu HTML adaptado -->
<div class="menu-lateral">
  <ul>
    <li><button routerLink="/dashboard" [class.link-ativo]="isLinkAtivo('/dashboard')"><i class="fas fa-home"></i>Home</button></li>
    <li><button routerLink="/dashboard/perfil" [class.link-ativo]="isLinkAtivo('/dashboard/perfil')"><i class="fas fa-user"></i>Perfil</button></li>
    <li *ngIf="showComercialLink">
      <button routerLink="/dashboard/comercial" [class.link-ativo]="isLinkAtivo('/dashboard/comercial')"><i class="fa-solid fa-file-image"></i>Gerador de Imagem</button>
    </li>
    <li *ngIf="showComercialLink" class="has-children" [ngClass]="{'submenu-open': showSubmenu}">
      <button type="button" (click)="handleSubmenu()">
        <i class="fa-solid fa-file-contract"></i>
        <span>Contratos<i class="fa-solid fa-chevron-down"></i></span>
      </button>
      <ul class="submenu">
        <li>
          <button type="button" routerLink="/dashboard/contratos" [class.link-ativo]="isLinkAtivo('/dashboard/contratos')">
            <i class="fas fa-home"></i>Página Inicial
          </button>
        </li>
        <li>
          <button type="button" routerLink="/dashboard/contratos/criar" [class.link-ativo]="isLinkAtivo('/dashboard/contratos/criar')">
            <i class="fa-solid fa-pen"></i>Criar Contratos
          </button>
        </li>
        <li>
          <button type="button" routerLink="/dashboard/contratos/listar" [class.link-ativo]="isLinkAtivo('/dashboard/contratos/listar')">
            <i class="fa-solid fa-folder"></i>Contratos Criados
          </button>
        </li>
        <li>
          <button type="button" routerLink="/dashboard/contratos/arquivo" [class.link-ativo]="isLinkAtivo('/dashboard/contratos/arquivo')">
            <i class="fa-solid fa-file-contract"></i>Ver Modelo
          </button>
        </li>
      </ul>
    </li>
    <li *ngIf="showComercialLink">
      <button routerLink="/dashboard/icp" [class.link-ativo]="isLinkAtivo('/dashboard/icp')"><i class="fa-solid fa-chart-line"></i>Validação ICP</button>
    </li>
    <li *ngIf="showTabelaPrecos">
      <button>
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
        <a target="_blank" href="https://nairuzcombr-my.sharepoint.com/:x:/g/personal/contato_nairuz_com_br/EfJ_ICb8chFPl89XP7ediz4BBaSsAT6rW86FA2OdxNB4Gg?e=lG91qc">Tabela de Preços</a>
      </button>
    </li>
    <li *ngIf="showTabelaDeValores">
      <button routerLink="/dashboard/tabela-valores" [class.link-ativo]="isLinkAtivo('/dashboard/tabela-valores')">
        <i class="fa-solid fa-table-columns"></i>Tabela de Valores
      </button>
    </li>
    <li *ngIf="showCalculoComissao">
      <button routerLink="/dashboard/calculo-comissao" [class.link-ativo]="isLinkAtivo('/dashboard/calculo-comissao')">
        <i class="fa-solid fa-coins"></i>Cálculo de Comissão
      </button>
    </li>
    <li *ngIf="showAdicionarOportunidade">
      <button routerLink="/dashboard/adicionar-oportunidade" [class.link-ativo]="isLinkAtivo('/dashboard/adicionar-oportunidade')">
        <i class="fa-solid fa-circle-plus"></i>Adicionar Oportunidade
      </button>
    </li>
    <li><button routerLink="/" [class.link-ativo]="isLinkAtivo('/')" (click)="logout()"><i class="fas fa-sign-out-alt"></i>Sair</button></li>
  </ul>
</div>
