<section class="contratos-listar">
  <div class="contratos-listar-header">
    <h1>Contratos Criados</h1>
    <div class="contratos-search" *ngIf="CONTRATOS.length">
      <input type="text" name="contrato" id="contrato" placeholder="Insira o nome do cliente" [(ngModel)]="searchClient" [value]="searchClient">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </div>
  <div class="toolbar" *ngIf="CONTRATOS.length">
    <div class="filter author">
      <label for="author">Responsável</label>
      <select name="author" id="author" [(ngModel)]="searchAuthor">
        <option value="">Selecione</option>
        <option value="Camila Silva">Camila Silva</option>
        <option value="César Achiles">César Achiles</option>
        <option value="Valéria Queiroz">Valéria Queiroz</option>
      </select>
    </div>
    <div class="filter status">
      <label for="status">Status</label>
      <select name="status" id="status" [(ngModel)]="searchStatus">
        <option value="">Selecione</option>
        <option value="Minuta contratual">Minuta contratual</option>
        <option value="Aguardando assinatura">Aguardando assinatura</option>
        <option value="Concluído">Concluído</option>
        <option value="Cancelado">Cancelado</option>
      </select>
    </div>
  </div>

  <div class="contratos-body">
    <div class="contratos-list" *ngIf="CONTRATOS.length">
      <div class="contrato-card" *ngFor="let contrato of CONTRATOS | advancedFilter:searchClient:searchAuthor:searchStatus">
        <div class="contrato-card-header">
          <div class="contrato-name-type">
            <h2 class="contrato-name">{{ contrato.extEmpresaGroup.extEmpresaNome }}</h2>
            <div class="contrato-type">
              <span class="label type">{{ contrato.nzGroup.nzServico }}</span>
              <span class="label tech">{{ contrato.nzGroup.nzProjetoPlataforma }}</span>
            </div>
          </div>

          <div class="contrato-actions">
            <button type="button" title="Ver" class="contrato-action" (click)="onViewContract(contrato)"><i class="fa-solid fa-eye"></i></button>
            <button type="button" title="Editar" class="contrato-action" *ngIf="contrato.contratoStatus === 'Minuta contratual'" (click)="confirmEdit(contrato)"><i class="fa-solid fa-pen"></i></button>
            <button type="button" title="Deletar" class="contrato-action" *ngIf="contrato.contratoStatus !== 'Concluído'" (click)="confirmDelete(contrato._id, contrato.extEmpresaGroup.extEmpresaNome)"><i class="fa-solid fa-trash-can"></i></button>
          </div>
        </div>

        <div class="contrato-card-body">
          <p class="contrato-value">{{ contrato.projetoGroup.projetoValor | currency:'BRL' }}</p>
          <select name="contrato-status" id="contrato-status" (change)="confirmStatusChange(contrato.contratoId, $event, contrato.contratoStatus)">
            <option value="Minuta contratual" [selected]="contrato.contratoStatus === 'Minuta contratual'">Minuta contratual</option>
            <option value="Aguardando assinatura" [selected]="contrato.contratoStatus === 'Aguardando assinatura'">Aguardando assinatura</option>
            <option value="Concluído" [selected]="contrato.contratoStatus === 'Concluído'">Concluído</option>
            <option value="Cancelado" [selected]="contrato.contratoStatus === 'Cancelado'">Cancelado</option>
          </select>
        </div>

        <div class="contrato-card-footer">
          <p class="contrato-author"><i class="fa-solid fa-user"></i><span>{{ contrato.contratoAutor }}</span></p>
          <time>{{ contrato.projetoGroup.projetoData | date:'dd/MM/yyyy' }}</time>
        </div>
      </div>
    </div>

    <div *ngIf="!CONTRATOS.length">
      <p>Nenhum contrato criado até o momento.</p>
      <p><a routerLink="/dashboard/contratos/criar">Clique aqui para criar um contrato</a></p>
    </div>
  </div>

  <app-contrato-progresso *ngIf="isLoadingPdf" [isLoadingContract]="isLoadingPdf" [percentage]="progress"></app-contrato-progresso>
  <app-contrato-modal-pdf *ngIf="isContractReady" [pdfUrl]="pdfUrl" [isContractReadyToView]="isContractReady"></app-contrato-modal-pdf>

  <div class="contrato-arquivo" *ngIf="!!contractToView">
    <app-contrato-arquivo [contract]="contractToView"></app-contrato-arquivo>
  </div>
</section>