<!-- TOAST DE RETORNO DAS REQUISIÇÕES (CRIAR, EDITAR OU DELETAR UM PROTUDO) -->
<div id="alert-actions" class="toast text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="d-flex">
    <div class="toast-body"> {{ msgActions }} </div>
    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
</div>

<h1 class="titlePage">Cálculo de comissão</h1>

<div class="baseCalculo row mt-4 mb-3 justify-content-center">
  <div class="col-4">
    <div class="bg-nairuzPrimary">
      <label for="vendaTotal" class="form-label">Vendas Total</label>
      <p>R$ {{ vendasTotal }}</p>
    </div>
  </div>

  <div class="col-4">
    <div class="bg-nairuzPrimary">
      <label for="metaVendedor" class="form-label">Meta Vendedor</label>
      <p>{{ metaVendedor * 100 }} %</p>
    </div>
  </div>

  <div class="col-4">
    <div class="bg-nairuzPrimary">
      <label for="metaEmpresa" class="form-label">Meta Empresa</label>
      <p>{{ metaEmpresa * 100 }} %</p>
    </div>
  </div>
</div>

<div class="topo mt-5 mb-2">
  <!-- AÇÕES DO USUÁRIO -->
  <button button type="button" class="btn btn-addVenda" (click)="openModalNovaVenda()" data-bs-dismiss="modal">Cadastrar Venda</button>
</div>

<!-- COLUNAS DA TABELA -->
<div class="mat-elevation-z8">
  <div class="sectionTable">
    <table id="tabela-valores" mat-table [dataSource]="tabelaVendas" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
      
      <!-- Cliente Column -->
      <ng-container matColumnDef="cliente" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by cliente">
          Cliente
        </th>
        <td mat-cell *matCellDef="let element"> {{element.cliente}} </td>
      </ng-container>

      <!-- Data da Venda Column -->
      <ng-container matColumnDef="dataVenda">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by dataVenda">
          Venda em
        </th>
        <td mat-cell *matCellDef="let element"> {{ element.dataVenda | date }} </td>
      </ng-container>

      <!-- Mix Produtos Column -->
      <ng-container matColumnDef="mixProdutos">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by mixProdutos">
          Mix Produtos
        </th>
        <td mat-cell *matCellDef="let element"> {{ element.mixProdutos }} </td>
      </ng-container>

      <!-- Tipo Produto Column -->
      <ng-container matColumnDef="tipoProduto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by tipoProduto">
          Tipo de Produto
        </th>
        <td mat-cell *matCellDef="let element"> {{ element.tipoProduto }} </td>
      </ng-container>

      <!-- Multiplicador Column -->
      <ng-container matColumnDef="multiplicador">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by multiplicador">
          Multiplicador
        </th>
        <td mat-cell *matCellDef="let element"> {{ element.multiplicador }} </td>
      </ng-container>

      <!-- Qualidade=Markup Column -->
      <ng-container matColumnDef="markup">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by markup">
          Qualidade=Markup
        </th>
        <td mat-cell *matCellDef="let element"> {{ element.markup }} </td>
      </ng-container>

      <!-- Venda Avulsa Column -->
      <ng-container matColumnDef="vendaAvulsa">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by vendaAvulsa">
          Venda Avulsa
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.vendaAvulsa.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}
        </td>
      </ng-container>

      <!-- Valor Base Column -->
      <ng-container matColumnDef="valorBase">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by valorBase">
          Valor Base
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.valorBase.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}
        </td>
      </ng-container>

      <!-- Valor Vendido Column -->
      <ng-container matColumnDef="valorVendido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by valorVendido">
          Valor Vendido
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.valorVendido.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}
        </td>
      </ng-container>

      <!-- Qualidade Column -->
      <ng-container matColumnDef="qualidade">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by qualidade">
          Qualidade
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.qualidade }}
        </td>
      </ng-container>

      <!-- Mix Column -->
      <ng-container matColumnDef="mix">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by mix">
          Mix
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.mix }}
        </td>
      </ng-container>

      <!-- Comissão Final Column -->
      <ng-container matColumnDef="comissaoFinal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by comissaoFinal">
          Comissão Final
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.comissaoFinal }}
        </td>
      </ng-container>

      <!-- Valor Comissão Column -->
      <ng-container matColumnDef="valorComissao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by valorComissao">
          Valor Comissão
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.valorComissao.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}
        </td>
      </ng-container>

      <!-- Ações Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          Ações
        </th>
        <td class="acoes" mat-cell *matCellDef="let element">
          <mat-icon class="editar" aria-label="Editar produto" (click)="openModalEditarVenda(element)">edit</mat-icon>
          <mat-icon class="delete" aria-label="Remover produto" (click)="openModalDeletarVenda(element)">delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator
    [pageSizeOptions]="[10, 20, 30]"
    showFirstLastButtons aria-label="Select page of periodic elements"
  ></mat-paginator>
</div>

<!-- MODAIS -->
<div id="bg-modal"></div>

<!-- Modal para NOVA venda-->
<div class="modal fade" id="modalNew" tabindex="-1" aria-labelledby="modalNovaVenda" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title text-black fs-5" id="modalNovaVenda">Nova Venda</h2>
        <button type="button" (click)="closeModalNovaVenda()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form id="formCalculoComissao" [formGroup]="formNovaVenda" class="container">
        <div class="col-10 mt-5 mb-3">
          <strong>Preencha os campos abaixo:</strong>
        </div>

        <div class="col-12 mb-3">
          <label for="dataVenda" class="form-label">Data da Venda:</label>
          <input type="date" id="dataVenda" class="form-control col-12" formControlName="dataVenda" required />
        </div>
      
        <div class="col-12 mb-3">
          <label for="nomeCliente" class="form-label">Nome do cliente:</label>
          <input type="text" id="nomeCliente" class="form-control col-12" formControlName="nomeCliente" required />
        </div>
      
        <div class="col-12 mb-3">
          <label for="mixProdutos" class="form-label">Mix de Produtos:</label>
          <select formControlName="mixProdutos" id="mixProdutos" class="selectForm form-select">
            <option value="marketing">Marketing</option>
            <option value="sustentacao">Sustentação</option>
            <option value="tecnologia">Tecnologia</option>
            <option value="help">Help</option>
          </select>
        </div>
      
        <div class="col-12 mb-3">
          <label for="produtoVendido" class="form-label">Selecione o produto vendido:</label>
          <mat-form-field class="selectForm form-control">
            <mat-select formControlName="produtoVendido" id="produtoVendido">
              <mat-form-field class="form-search">
                <input matInput (keyup)="applyFilter($event)" placeholder="O que está procurando?" #input>
              </mat-form-field>
              <mat-option (click)="setInputsValoresNovaVenda()" *ngFor="let item of produtosFiltrados" [value]="item.produto">
                {{ item.produto }} - {{ item.tecnologia }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    
        <div class="col-12 mb-3">
          <label for="multiplicador" class="form-label">Multiplicador:</label>
          <select formControlName="multiplicador" id="multiplicador" class="selectForm form-select">
            <option value="1">1</option>
            <option value="6">6</option>
            <option value="12">12</option>
            <option value="13">13</option>
          </select>
        </div>
      
        <div class="col-12 mb-3">
          <label for="markup" class="form-label">Qualidade = Markup:</label>
          <input
            type="number"
            formControlName="markup"
            step="0.1"
            class="form-control form-floating col-12"
            id="markup"
            required
          />
        </div>
      
        <div class="col-12 mb-3">
          <label for="vendaAvulsa" class="form-label">Venda Avulsa:</label>
          <input
            type="text"
            prefix="R$ "
            mask="separator.2"
            thousandSeparator="."
            decimalMarker=","
            class="form-control"
            id="vendaAvulsa"
            formControlName="vendaAvulsa"
            required
          >
        </div>
      
        <div class="col-12 mb-3">
          <label for="fatorMultiplicador" class="form-label">Fator Multiplicador:</label>
          <input
            type="number"
            formControlName="fatorMultiplicador"
            step="0.001"
            class="form-control form-floating col-12"
            id="fatorMultiplicador"
            required
          />
        </div>

        <button type="submit" (click)="onSubmitNovaVenda()" [disabled]="!formNovaVenda.valid" class="col-12 btn-calcular">Inserir</button>
      </form>
    </div>
  </div>
</div>

<!-- Modal para EDITAR venda-->
<div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="modalEditarVenda" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title text-black fs-5" id="modalEditarVenda">Nova Venda</h2>
        <button type="button" (click)="closeModalEditarVenda()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form id="formCalculoComissao" [formGroup]="formEditarVenda" class="container">
        <div class="col-10 mt-5 mb-3">
          <strong>Altere os campos abaixo:</strong>
        </div>
      
        <div class="col-12 mb-3">
          <label for="nomeCliente" class="form-label">Nome do cliente:</label>
          <input type="text" id="nomeCliente" class="form-control col-12" formControlName="nomeCliente" required />
        </div>
      
        <div class="col-12 mb-3">
          <label for="mixProdutos" class="form-label">Mix de Produtos:</label>
          <select formControlName="mixProdutos" id="mixProdutos" class="selectForm form-select">
            <option value="marketing">Marketing</option>
            <option value="sustentacao">Sustentação</option>
            <option value="tecnologia">Tecnologia</option>
            <option value="help">Help</option>
          </select>
        </div>
      
        <div class="col-12 mb-3">
          <label for="produtoVendido" class="form-label">Selecione o produto vendido:</label>
          <mat-form-field class="selectForm form-control">
            <mat-select formControlName="produtoVendido" id="produtoVendido">
              <mat-form-field class="form-search">
                <input matInput (keyup)="applyFilter($event)" placeholder="O que está procurando?" #input>
              </mat-form-field>
              <mat-option (click)="setInputsValoresEditarVenda()" *ngFor="let item of produtosFiltrados" [value]="item.produto">
                {{ item.produto }} - {{ item.tecnologia }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    
        <div class="col-12 mb-3">
          <label for="multiplicador" class="form-label">Multiplicador:</label>
          <select formControlName="multiplicador" id="multiplicador" class="selectForm form-select">
            <option value="1">1</option>
            <option value="6">6</option>
            <option value="12">12</option>
            <option value="13">13</option>
          </select>
        </div>
      
        <div class="col-12 mb-3">
          <label for="markup" class="form-label">Qualidade = Markup:</label>
          <input
            type="number"
            formControlName="markup"
            step="0.1"
            class="form-control form-floating col-12"
            id="markup"
            required
          />
        </div>
      

        <div class="col-12 mb-3">
          <label for="vendaAvulsa" class="form-label">Venda Avulsa:</label>
          <input
            type="text"
            prefix="R$ "
            mask="separator.2"
            thousandSeparator="."
            decimalMarker=","
            class="form-control"
            id="vendaAvulsa"
            formControlName="vendaAvulsa"
            required
          >
        </div>
      
        <div class="col-12 mb-3">
          <label for="fatorMultiplicador" class="form-label">Fator Multiplicador:</label>
          <input
            type="number"
            formControlName="fatorMultiplicador"
            step="0.001"
            class="form-control form-floating col-12"
            id="fatorMultiplicador"
            required
          />
        </div>

        <button type="submit" (click)="onSubmitEditarVenda()" [disabled]="!formEditarVenda.valid" class="col-12 btn-calcular">Editar</button>
      </form>
    </div>
  </div>
</div>

<!-- Modal para EXCLUIR venda-->
<div class="modal fade" id="modalDeletar" tabindex="-1" aria-labelledby="modalDeletarVenda" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title text-black fs-5" id="modalDeletarVenda">Excluir produto</h2>
        <button type="button" (click)="closeModalDeletarVenda()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="formDeletarVenda" (ngSubmit)="onSubmitDeletarVenda()">
        <div class="modal-body">
          <div class="">
            <div class="form-label mt-1">
              <p class="text-black">Deseja realmente <strong class="text-danger">excluir</strong> a comissão: <strong class="text-dark-emphasis">{{ formDeletarVenda.get('cliente').value }}</strong></p>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="submit" class="btn btn-danger">
            Excluir
          </button>
          <button type="button" class="btn btn-secondary" (click)="closeModalDeletarVenda()" data-bs-dismiss="modal">
            Fechar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>