<main class="mb-5">
    <!-- TOAST DE RETORNO DAS REQUISIÇÕES (CRIAR, EDITAR OU DELETAR) -->
    <div id="alert-actions" class="toast text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body"> {{ msgActions }} </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  
    <h1 class="titlePage">Metas da Empresa</h1>
  
    <!-- AÇÕES DO USUÁRIO -->
    <div class="topo d-flex justify-content-between mt-5 mb-2">
      <button button type="button" class="btn btn-addVenda" *ngIf="userPermission()" (click)="openModalNovaMeta()" data-bs-dismiss="modal">Cadastrar Meta</button>
  
      <form class="d-flex gap-5">
        <div class="filter-commissions">
          <label for="filtroAno" class="me-3">Filtrar por Ano:</label>
          <select (change)="submitFormFilter()" id="filtroAno" class="select-nairuz h-100">
            <option *ngFor="let year of filterYears, let i = index" [value]="year" [selected]="i == 0">
              {{ year }}
            </option>
          </select>
        </div>
      </form>
    </div>
  
    <!-- COLUNAS DA TABELA -->
    <div class="mat-elevation-z8">
        <div class="sectionTable">
            <table id="tabela-valores" mat-table [dataSource]="tabelaMetas" class="mat-elevation-z8">
                <!-- Mês Column -->
                <ng-container matColumnDef="mes">
                    <th mat-header-cell *matHeaderCellDef>Mês</th>
                    <td mat-cell *matCellDef="let element"> {{ element.mes }} </td>
                </ng-container>
        
                <!-- Empresa Column -->
                <ng-container matColumnDef="metaEmpresa">
                    <th mat-header-cell *matHeaderCellDef>Meta Empresa</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.metaEmpresa | currency: 'BRL' }}
                    </td>
                </ng-container>
    
                <!-- Ações Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Ações</th>
                    <td class="acoes" mat-cell *matCellDef="let element">
                        <mat-icon class="editar" aria-label="Editar produto" (click)="openModalEditarMeta(element)">edit</mat-icon>
                        <mat-icon class="delete" aria-label="Remover produto" (click)="openModalDeletarMeta(element)">delete</mat-icon>
                    </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>

    <div class="row mt-3">
        <div [ngClass]="userPermission() ? 'col-5 text-end' : 'col-7 text-end'">
            <p class="texto-soma">Meta total anual: {{ metaAnual | currency: 'BRL' }}</p>
        </div>
    </div>
  
    <!-- MODAL -->
    <div id="bg-modal"></div>

    <!-- Modal para NOVA Meta -->
    <div class="modal fade" id="modalNew" tabindex="-1" aria-labelledby="modalNovaMeta" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header mb-5">
            <h2 class="modal-title text-black fs-5" id="modalNovaMeta">Nova Meta:</h2>
            <button type="button" (click)="closeModalNovaMeta()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
  
          <form id="formNovaMeta" *ngIf="userPermission()" [formGroup]="formNovaMeta" class="container actions-form">
            <div class="col-12 mb-3">
              <label for="ano" class="form-label">Ano:</label>
              <input
                  type="number"
                  id="ano"
                  step="1"
                  value="{{ formNovaMeta.get('ano').value }}"
                  class="form-control col-12"
                  [class.is-invalid]="formNovaMeta.get('ano')?.errors?.['min'] && formNovaMeta.get('ano')?.touched"
                  formControlName="ano"
                  required
              />
            </div>

            <div class="col-12 mb-3">
              <label for="mes" class="form-label">Mês:</label>
              <select id="mes" class="selectForm form-select" formControlName="mes">
                <option *ngFor="let mes of meses" [value]="mes"> {{ mes }} </option>
              </select>
            </div>

            <div class="col-12 mb-3">
                <label for="metaEmpresa" class="form-label">Meta empresa:</label>
                <input
                    type="text"
                    prefix="R$ "
                    mask="separator.2"
                    thousandSeparator="."
                    decimalMarker=","
                    id="metaEmpresa"
                    class="form-control col-12"
                    [class.is-invalid]="formNovaMeta.get('metaEmpresa')?.errors?.['min'] && formNovaMeta.get('metaEmpresa')?.touched"
                    formControlName="metaEmpresa"
                    required
                />
            </div>
            <button type="submit" (click)="submitNovaMeta()" [disabled]="!formNovaMeta.valid" class="col-12 btn-calcular">Inserir</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal para EDITAR Meta-->
    <div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="modalEditarMeta" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header mb-5">
            <h2 class="modal-title text-black fs-5" id="modalEditarMeta">Editar Meta: <span class="fw-bold">{{ formEditarMeta.get('mes').value }}</span></h2>
            <button type="button" (click)="closeModalEditarMeta()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
  
          <form id="formEditarMeta" *ngIf="userPermission()" [formGroup]="formEditarMeta" class="container actions-form">
            <div class="col-12 mb-3">
              <label for="ano" class="form-label">Ano:</label>
              <input
                  type="number"
                  id="ano"
                  step="1"
                  value="{{ formNovaMeta.get('ano').value }}"
                  class="form-control col-12"
                  [class.is-invalid]="formNovaMeta.get('ano')?.errors?.['min'] && formNovaMeta.get('ano')?.touched"
                  formControlName="ano"
                  required
              />
            </div>

            <div class="col-12 mb-3">
              <label for="mes" class="form-label">Mês:</label>
              <select id="mes" class="selectForm form-select" formControlName="mes">
                <option *ngFor="let mes of meses" [value]="mes"> {{ mes }} </option>
              </select>
            </div>

            <div class="col-12 mb-3">
                <label for="metaEmpresa" class="form-label">Meta empresa:</label>
                <input
                    type="text"
                    prefix="R$ "
                    mask="separator.2"
                    thousandSeparator="."
                    decimalMarker=","
                    id="metaEmpresa"
                    class="form-control col-12"
                    [class.is-invalid]="formEditarMeta.get('metaEmpresa')?.errors?.['min'] && formEditarMeta.get('metaEmpresa')?.touched"
                    formControlName="metaEmpresa"
                    required
                />
            </div>
            <button type="submit" (click)="submitEditarMeta()" [disabled]="!formEditarMeta.valid" class="col-12 btn-calcular">Editar</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal para EXCLUIR Meta -->
    <div class="modal fade" id="modalDeletar" tabindex="-1" aria-labelledby="modalDeletarMeta" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title text-black fs-5" id="modalDeletarMeta">
              Excluir Meta: <span>{{ formDeletarMeta.get('mes').value }}/{{ formDeletarMeta.get('ano').value }}</span>
            </h2>
            <button type="button" (click)="closeModalDeletarMeta()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form [formGroup]="formDeletarMeta" (ngSubmit)="submitDeletarMeta()">
            <div class="modal-body">
              <div class="">
                <div class="form-label mt-1">
                  <p class="text-black">Deseja realmente <strong class="text-danger">excluir</strong> a meta de <strong class="text-dark-emphasis">{{ formDeletarMeta.get('mes').value }}/{{ formDeletarMeta.get('ano').value }}</strong></p>
                </div>
              </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button type="submit" class="btn btn-danger">
                Excluir
              </button>
              <button type="button" class="btn btn-secondary" (click)="closeModalDeletarMeta()" data-bs-dismiss="modal">
                Fechar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>