<!-- TOAST DE RETORNO DAS REQUISIÇÕES (CRIAR, EDITAR OU DELETAR UM PROTUDO) -->
<div id="alert-actions" class="toast text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="d-flex">
    <div class="toast-body"> {{ msgActions }} </div>
    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
</div>

<div class="main-tabela">
  <h1 class="titlePage mb-4">Tabela de Valores de Venda</h1>

  <div class="topo mb-2">
    <!-- AÇÕES DO USUÁRIO -->
    <button button type="button" *ngIf="showAdmin" class="btn btn-addProduto" (click)="openModalNovoProduto()" data-bs-dismiss="modal">Novo produto</button>

    <mat-form-field [class.fullWidth]="!showAdmin">
      <mat-label><mat-icon fontIcon="search"></mat-icon></mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="O que está procurando?" #input>
    </mat-form-field>
  </div>

  <!-- COLUNAS DA TABELA -->
  <div class="mat-elevation-z8">
    <table id="tabela-valores" mat-table [dataSource]="produtos" matSort (matSortChange)="announceSortChange($event)"
          class="mat-elevation-z8">
      <!-- No. Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id">
          No.
        </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Produto Column -->
      <ng-container matColumnDef="produto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by produto">
          Produto
        </th>
        <td mat-cell *matCellDef="let element"> {{element.produto}} </td>
      </ng-container>

      <!-- Tecnologia Column -->
      <ng-container matColumnDef="tecnologia">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by tecnologia">
          Tecnologia
        </th>
        <td mat-cell *matCellDef="let element"> {{element.tecnologia}} </td>
      </ng-container>

      <!-- Valor Column -->
      <ng-container matColumnDef="valor_venda">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by valor_venda">
          Preço de Vendas
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.valor_venda.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}
        </td>
      </ng-container>

      <!-- Observação Column -->
      <ng-container matColumnDef="observacao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by observacao">
          Observações
        </th>
        <td mat-cell *matCellDef="let element"> {{element.observacao}} </td>
      </ng-container>

      <!-- Ações Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          Ações
        </th>
        <td class="acoes" mat-cell *matCellDef="let element">
          <mat-icon class="editar" aria-label="Editar produto" (click)="openModalEditarProduto(element)">edit</mat-icon>
          <mat-icon class="delete" aria-label="Remover produto" (click)="openModalDeletarProduto(element)">delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Texto para busca não encontrada -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell ps-3 pt-3" colspan="4">Não encontramos produtos para a busca: "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[10, 20, 30]"
      showFirstLastButtons aria-label="Select page of periodic elements"
    ></mat-paginator>
  </div>

  
  <!-- MODAIS -->
  <div id="bg-modal"></div>

  <!-- Modal para NOVO produto-->
  <div class="modal fade" id="modalNew" tabindex="-1" aria-labelledby="modalNovoProduto" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title text-black fs-5" id="modalNovoProduto">Novo produto</h2>
          <button type="button" (click)="closeModalNovoProduto()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="formNovoProduto" (ngSubmit)="onSubmitNovoProduto()">
          <div class="modal-body">
            <div class="mb-3">
              <label for="id-novo" class="form-label text-black">No:</label>
              <input type="number" class="form-control" id="id-novo" formControlName="id" value="Disabled readonly input" aria-label="Disabled input" readonly />
            </div>
            <div class="mb-3">
              <label for="produto-novo" class="form-label text-black">Produto:</label>
              <input
                type="text"
                class="form-control"
                [class.is-invalid]="formNovoProduto.get('produto')?.errors?.['required'] && formNovoProduto.get('produto')?.touched"
                id="produto-novo"
                formControlName="produto"
                required
              >
            </div>
            <div class="mb-3">
              <label for="tecnologia-edit" class="form-label text-black">Tecnologia:</label>
              <input
                type="text"
                class="form-control"
                [class.is-invalid]="formNovoProduto.get('tecnologia')?.errors?.['required'] && formNovoProduto.get('tecnologia')?.touched"
                id="tecnologia-edit"
                formControlName="tecnologia"
              >
            </div>
            <div class="mb-3">
              <label for="valor-venda-edit" class="form-label text-black">Preço de vendas:</label>
              <input
                type="text"
                prefix="R$ "
                mask="separator.2"
                thousandSeparator="."
                decimalMarker=","
                class="form-control"
                [class.is-invalid]="formNovoProduto.get('valor_venda')?.errors?.['min'] && formNovoProduto.get('valor_venda')?.touched"
                id="valor-venda-edit"
                formControlName="valor_venda"
              >
            </div>
            <div class="mb-3">
              <label for="observacao-edit" class="form-label text-black">Observações:</label>
              <textarea style="resize: vertical;" class="form-control" id="observacao-edit" formControlName="observacao"></textarea>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-primary" [disabled]="!formNovoProduto.valid">
              Adicionar
            </button>
            <button type="button" class="btn btn-secondary" (click)="closeModalNovoProduto()" data-bs-dismiss="modal">
              Fechar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal para EDITAR produto -->
  <div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="modalEditarProduto" aria-hidden="true" aria-role="dialog">
    <div class="modal-dialog modal-fullscreen-sm-down">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title text-black fs-5" id="modalEditarProduto">Editar</h2>
          <button type="button" (click)="closeModalEditarProduto()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="formEditarProduto" (ngSubmit)="onSubmitEdit()">
          <div class="modal-body">
            <div class="mb-3">
              <label for="id-novo" class="form-label text-black">No:</label>
              <input type="number" class="form-control" id="id-novo" formControlName="id" value="Disabled readonly input" aria-label="Disabled input" readonly />
            </div>
            <div class="mb-3">
              <label for="produto-edit" class="form-label text-black">Produto:</label>
              <input type="text" class="form-control" id="produto-edit" formControlName="produto">
            </div>
            <div class="mb-3">
              <label for="tecnologia-edit" class="form-label text-black">Tecnologia:</label>
              <input type="text" class="form-control" id="tecnologia-edit" formControlName="tecnologia">
            </div>
            <div class="mb-3">
              <label for="valor-venda-edit" class="form-label text-black">Preço de vendas:</label>
              <input type="text" prefix="R$ " mask="separator.2" thousandSeparator="." decimalMarker="," class="form-control" id="valor-venda-edit" formControlName="valor_venda">
            </div>
            <div class="mb-3">
              <label for="observacao-edit" class="form-label text-black">Observações:</label>
              <textarea style="resize: vertical;" class="form-control" id="observacao-edit" formControlName="observacao"></textarea>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <!-- Criar validação, se algo foi alterado nos inputs, ativar botão SALVAR -->
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!formEditarProduto.valid">
              Salvar
            </button>
            <button type="button" class="btn btn-secondary" (click)="closeModalEditarProduto()" data-bs-dismiss="modal">
              Fechar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal para EXCLUIR produto-->
  <div class="modal fade" id="modalDeletar" tabindex="-1" aria-labelledby="modalDeletarProduto" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title text-black fs-5" id="modalDeletarProduto">Excluir produto</h2>
          <button type="button" (click)="closeModalDeletarProduto()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="formDeletarProduto" (ngSubmit)="onSubmitDeletarProduto()">
          <div class="modal-body">
            <div class="">
              <div class="form-label mt-1">
                <p class="text-black">Deseja realmente <strong class="text-danger">excluir</strong> o produto: <strong class="text-dark-emphasis">{{ formDeletarProduto.get('produto').value }}</strong></p>
              </div>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-danger">
              Excluir
            </button>
            <button type="button" class="btn btn-secondary" (click)="closeModalDeletarProduto()" data-bs-dismiss="modal">
              Fechar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>