<!-- TOAST DE RETORNO DAS REQUISIÇÕES (CRIAR, EDITAR OU DELETAR UM PROTUDO) -->
<div id="alert-actions" class="toast text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="d-flex">
    <div class="toast-body"> {{ msgActions }} </div>
    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
</div>

<div class="main-tabela">
  <h1 class="titlePage mb-4">Tabela de Valores de Venda</h1>

  <!-- COLUNAS DA TABELA -->
  <div class="mat-elevation-z8">
    <p-table
      #dt1
      [value]="produtos"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="{first} - {last} de {totalRecords}"
      [rowsPerPageOptions]="[5, 10, 25, 50]"
      dataKey="produto"
      [globalFilterFields]="['produto', 'tecnologia']"
    >
      <ng-template pTemplate="caption">
        <div class="d-flex justify-content-between">
          <button button type="button" *ngIf="showAdmin" class="btn btn-addProduto" (click)="openModalNovoProduto()" data-bs-dismiss="modal">Novo produto</button>
          <div class="d-flex gap-2">
            <button type="button"(click)="clear(dt1)" class="btn btn-link link-nairuz">Limpar filtros</button>
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input class="input-busca h-100" pInputText type="text" (input)="inputBusca($event, dt1)" placeholder="O que está procurando?" />
            </span>
          </div>

        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>No.</th>
          <th pSortableColumn="produto">Produto <p-sortIcon field="produto"></p-sortIcon></th>
          <th>Tecnologia</th>
          <th>Preço de Vendas</th>
          <th>Observações</th>
          <th class="d-flex justify-content-center">Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-produto let-i="rowIndex" let-expanded="expanded">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>
            <button type="button" pButton pRipple [pRowToggler]="produto" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-minus' : 'pi pi-plus'"></button>
            {{ produto.produto }}
          </td>
          <td>*Diversas</td>
          <td>*Diversos</td>
          <td></td>
          <td></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-produto>
        <tr *ngFor="let tecnologia of produto.tecnologias">
          <td></td>
          <td></td>
          <td>{{ tecnologia.tecnologia }}</td>
          <td *ngFor="let variante of tecnologia.variantes">{{ variante.valorVenda | currency: 'BRL' }}</td>
          <td *ngFor="let variante of tecnologia.variantes">{{ variante.observacao }}</td>
          <td class="d-flex justify-content-center" *ngFor="let variante of tecnologia.variantes">
            <mat-icon class="editar" aria-label="Editar produto" (click)="openModalEditarProduto(produto, tecnologia, variante)">edit</mat-icon>
            <mat-icon class="delete" aria-label="Remover produto" (click)="openModalDeletarProduto(produto, tecnologia)">delete</mat-icon>
          </td>
        </tr>
      </ng-template>
    </p-table>
 
  </div>

  
  <!-- MODAIS -->
  <div id="bg-modal"></div>

  <!-- Modal para NOVO produto-->
  <div class="modal fade" id="modalNew" tabindex="-1" aria-labelledby="modalNovoProduto" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title text-black fs-5" id="modalNovoProduto">Novo produto</h2>
          <button type="button" (click)="closeModalNovoProduto()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="formNovoProduto" (ngSubmit)="onSubmitNovoProduto()">
          <div class="modal-body">
            <div class="mb-3">
              <label for="produto-novo" class="form-label text-black">Produto:</label>
              <input
                type="text"
                class="form-control"
                [class.is-invalid]="formNovoProduto.get('produto')?.errors?.['required'] && formNovoProduto.get('produto')?.touched"
                id="produto-novo"
                formControlName="produto"
                required
              >
            </div>
            <div class="mb-3">
              <label for="tecnologia-edit" class="form-label text-black">Tecnologia:</label>
              <input
                type="text"
                class="form-control"
                [class.is-invalid]="formNovoProduto.get('tecnologia')?.errors?.['required'] && formNovoProduto.get('tecnologia')?.touched"
                id="tecnologia-edit"
                formControlName="tecnologia"
              >
            </div>
            <div class="mb-3">
              <label for="valor-venda-edit" class="form-label text-black">Preço de vendas:</label>
              <input
                type="text"
                prefix="R$ "
                mask="separator.2"
                thousandSeparator="."
                decimalMarker=","
                class="form-control"
                [class.is-invalid]="formNovoProduto.get('valor_venda')?.errors?.['min'] && formNovoProduto.get('valor_venda')?.touched"
                id="valor-venda-edit"
                formControlName="valor_venda"
              >
            </div>
            <div class="mb-3">
              <label for="observacao-edit" class="form-label text-black">Observações:</label>
              <textarea style="resize: vertical;" class="form-control" id="observacao-edit" formControlName="observacao"></textarea>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-primary" [disabled]="!formNovoProduto.valid">
              Adicionar
            </button>
            <button type="button" class="btn btn-secondary" (click)="closeModalNovoProduto()" data-bs-dismiss="modal">
              Fechar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal para EDITAR produto -->
  <div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="modalEditarProduto" aria-hidden="true" aria-role="dialog">
    <div class="modal-dialog modal-fullscreen-sm-down">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title text-black fs-5" id="modalEditarProduto">Editar</h2>
          <button type="button" (click)="closeModalEditarProduto()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="formEditarProduto" (ngSubmit)="onSubmitEdit()">
          <div class="modal-body">
            <div class="mb-3">
              <label for="produto-edit" class="form-label text-black">Produto:</label>
              <input type="text" class="form-control" id="produto-edit" formControlName="produto">
            </div>
            <div class="mb-3">
              <label for="tecnologia-edit" class="form-label text-black">Tecnologia:</label>
              <input type="text" class="form-control" id="tecnologia-edit" formControlName="tecnologia">
            </div>
            <div class="mb-3">
              <label for="valor-venda-edit" class="form-label text-black">Preço de vendas:</label>
              <input type="text" prefix="R$ " mask="separator.2" thousandSeparator="." decimalMarker="," class="form-control" id="valor-venda-edit" formControlName="valor_venda">
            </div>
            <div class="mb-3">
              <label for="observacao-edit" class="form-label text-black">Observações:</label>
              <textarea style="resize: vertical;" class="form-control" id="observacao-edit" formControlName="observacao"></textarea>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <!-- Criar validação, se algo foi alterado nos inputs, ativar botão SALVAR -->
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!formEditarProduto.valid">
              Salvar
            </button>
            <button type="button" class="btn btn-secondary" (click)="closeModalEditarProduto()" data-bs-dismiss="modal">
              Fechar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal para EXCLUIR produto-->
  <div class="modal fade" id="modalDeletar" tabindex="-1" aria-labelledby="modalDeletarProduto" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title text-black fs-5" id="modalDeletarProduto">Excluir produto</h2>
          <button type="button" (click)="closeModalDeletarProduto()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="formDeletarProduto" (ngSubmit)="onSubmitDeletarProduto()">
          <div class="modal-body">
            <div class="">
              <div class="form-label mt-1">
                <p class="text-black">Deseja realmente <strong class="text-danger">EXCLUIR</strong> o produto:<br/>
                  <strong class="text-dark-emphasis">
                    {{ formDeletarProduto.get('produto').value }} - {{ formDeletarProduto.get('tecnologia').value }}
                  </strong>
                </p>
              </div>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-danger">
              Excluir
            </button>
            <button type="button" class="btn btn-secondary" (click)="closeModalDeletarProduto()" data-bs-dismiss="modal">
              Fechar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>