<!-- TOAST DE RETORNO DAS REQUISIÇÕES (CRIAR, EDITAR OU DELETAR UM PROTUDO) -->
<div id="alert-actions" class="toast text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="d-flex">
    <div class="toast-body"> {{ msgActions }} </div>
    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
</div>

<div class="main-tabela">
  <h1 class="titlePage mb-4">Tabela de Valores de Venda</h1>

  <!-- COLUNAS DA TABELA -->
  <div class="mat-elevation-z8">
    <p-table
      #dt1
      [value]="produtos"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="{first} - {last} de {totalRecords}"
      [rowsPerPageOptions]="[5, 10, 25, 50]"
      dataKey="produto"
      [globalFilterFields]="['produto', 'tecnologia']"
    >
      <ng-template pTemplate="caption">
        <div class="d-flex justify-content-between">
          <button button type="button" *ngIf="showAdmin" class="btn btn-addProduto" (click)="openModalNovoProduto()" data-bs-dismiss="modal">Novo produto</button>
          <div class="d-flex gap-2">
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input class="input-busca h-100" pInputText type="text" (input)="inputBusca($event, dt1)" placeholder="O que está procurando?" />
            </span>
          </div>

        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Grupo Markup</th>
          <th pSortableColumn="produto" aria-sort="ascending">Produto <p-sortIcon field="produto"></p-sortIcon></th>
          <th>Tecnologia/Serviço</th>
          <th>Recorrência</th>
          <th>Preço de Vendas</th>
          <th>Observações</th>
          <th *ngIf="userPermission()" class="d-flex justify-content-center">Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-produto let-expanded="expanded">
        <tr>
          <td></td>
          <td>
            <button type="button" pButton pRipple [pRowToggler]="produto" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-minus' : 'pi pi-plus'"></button>
            {{ produto.produto }}
          </td>
          <td>*Diversas</td>
          <td>*Diversos</td>
          <td>*Diversos</td>
          <td></td>
          <td></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-produto>
        <tr *ngFor="let item of produto.itens">
          <td class="text-center">{{ item.variantes[0].grupo_markup }}</td>
          <td></td>
          <td>{{ item.tecnologia_servico }}</td>
          <td>{{ item.mrr == 'N/A' ? '' : item.mrr }} {{ item.tipo_mrr }}</td>
          <td *ngFor="let variante of item.variantes">
            {{ variante.valorVenda == 0 ? "Sob consulta" : variante.valorVenda | currency: 'BRL' }}
            <i
              class="fa-solid fa-circle-info ms-1"
              pTooltip="Markup aplicado: {{ defineMarkup(item.variantes[0].grupo_markup).maxMarkup }} Markup permitido: {{ defineMarkup(item.variantes[0].grupo_markup).minMarkup }}"
              tooltipPosition="right"
            ></i>
          </td>
          <td *ngFor="let variante of item.variantes">{{ variante.observacao }}</td>
          <ng-container *ngIf="userPermission()">
            <td class="d-flex justify-content-center" *ngFor="let variante of item.variantes">
              <mat-icon class="editar" aria-label="Editar produto" (click)="openModalEditarProduto(produto, item, variante)">edit</mat-icon>
              <mat-icon class="delete" aria-label="Remover produto" (click)="openModalDeletarProduto(produto, item, variante)">delete</mat-icon>
            </td>
          </ng-container>

        </tr>
      </ng-template>
    </p-table>
 
  </div>
  
  <!-- MODAIS -->
  <div id="bg-modal"></div>

  <!-- Modal para NOVO produto-->
  <div class="modal fade" id="modalNew" tabindex="-1" aria-labelledby="modalNovoProduto" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title text-black fs-5" id="modalNovoProduto">Novo produto</h2>
          <button type="button" (click)="closeModalNovoProduto()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="formNovoProduto" (ngSubmit)="onSubmitNovoProduto()">
          <div class="modal-body">
            <div class="mb-3">
              <label for="produto-novo" class="form-label text-black">Produto:</label>
              <input
                type="text"
                class="form-control"
                [class.is-invalid]="formNovoProduto.get('produto')?.errors?.['required'] && formNovoProduto.get('produto')?.touched"
                id="produto-novo"
                formControlName="produto"
                required
              >
            </div>
            <div class="mb-3 d-flex flex-column">
              <label class="form-label">Tipo do produto:</label>
              <select (change)="verificaTipoProduto($event)" formControlName="tipoProduto" id="mrr" class="selectForm form-select">
                <option value="Projeto">Projeto</option>
                <option value="Recorrência">Recorrência</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="tecnologia-edit" class="form-label text-black">Tecnologia/Serviço:</label>
              <input
                type="text"
                class="form-control"
                id="tecnologia-edit"
                formControlName="tecnologia_servico"
              >
            </div>
            <div class="mb-3" *ngIf="tipoProduto == 'Recorrência'">
              <label for="mrr-edit" class="form-label text-black">MRR:</label>
                <input
                  type="number"
                  class="form-control"
                  id="mrr-edit"
                  min="0"
                  step="1"
                  formControlName="mrr"
                >
            </div>
            <div class="mb-3" *ngIf="tipoProduto == 'Recorrência'">
              <label class="form-label">Tipo da Recorrência:</label>
              <select formControlName="tipo_mrr" id="tipo_mrr-edit" class="selectForm form-select">
                <option value=""></option>
                <option value="Horas">Horas</option>
                <option value="Meses">Meses</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="valor-venda-edit" class="form-label text-black">Preço de vendas:</label>
              <input
                type="text"
                prefix="R$ "
                mask="separator.2"
                thousandSeparator="."
                decimalMarker=","
                class="form-control"
                [class.is-invalid]="formNovoProduto.get('valor_venda')?.errors?.['min'] && formNovoProduto.get('valor_venda')?.touched"
                id="valor-venda-edit"
                formControlName="valor_venda"
              >
            </div>
            <div class="mb-3 d-flex flex-column">
              <label class="form-label">Grupo Markup:</label>
              <select formControlName="grupo_markup" id="grupo_markup" class="selectForm form-select">
                <option value="1">Grupo 1 - (2 a 1.8)</option>
                <option value="2">Grupo 2 - (2)</option>
                <option value="3">Grupo 3 - (2.5 a 2)</option>
                <option value="4">Grupo 4 - (3 a 2)</option>
                <option value="5">Grupo 5 - (3.5 a 2)</option>
                <option value="6">Grupo 6 - (3.8 a 2)</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="observacao-edit" class="form-label text-black">Observações:</label>
              <textarea style="resize: vertical;" class="form-control" id="observacao-edit" formControlName="observacao"></textarea>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-primary" [disabled]="!formNovoProduto.valid">
              Adicionar
            </button>
            <button type="button" class="btn btn-secondary" (click)="closeModalNovoProduto()" data-bs-dismiss="modal">
              Fechar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal para EDITAR produto -->
  <div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="modalEditarProduto" aria-hidden="true" aria-role="dialog">
    <div class="modal-dialog modal-fullscreen-sm-down">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title text-black fs-5" id="modalEditarProduto">Editar</h2>
          <button type="button" (click)="closeModalEditarProduto()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="formEditarProduto" (ngSubmit)="onSubmitEdit()">
          <div class="modal-body">
            <div class="mb-3">
              <label for="produto-edit" class="form-label text-black">Produto:</label>
              <input type="text" class="form-control" id="produto-edit" formControlName="produto">
            </div>
            <div class="mb-3 d-flex flex-column">
              <label class="form-label">Tipo do produto:</label>
              <select (change)="verificaTipoProduto($event)" formControlName="tipoProduto" id="mrr-edit" class="selectForm form-select">
                <option value="Projeto">Projeto</option>
                <option value="Recorrência">Recorrência</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="tecnologia-edit" class="form-label text-black">Tecnologia/Serviço:</label>
              <input
                type="text"
                class="form-control"
                id="tecnologia-edit"
                formControlName="tecnologia_servico"
              >
            </div>
            <div class="mb-3" *ngIf="formEditarProduto.get('tipoProduto').value == 'Recorrência'">
              <label for="mrr-edit" class="form-label text-black">MRR:</label>
                <input
                  type="number"
                  class="form-control"
                  id="mrr-edit"
                  min="0"
                  step="1"
                  formControlName="mrr"
                >
            </div>
            <div class="mb-3" *ngIf="formEditarProduto.get('tipoProduto').value == 'Recorrência'">
              <label class="form-label">Tipo da Recorrência:</label>
              <select formControlName="tipo_mrr" id="tipo_mrr-edit" class="selectForm form-select">
                <option value=""></option>
                <option value="Horas">Horas</option>
                <option value="Meses">Meses</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="valor-venda-edit" class="form-label text-black">Preço de vendas:</label>
              <input type="text" prefix="R$ " mask="separator.2" thousandSeparator="." decimalMarker="," class="form-control" id="valor-venda-edit" formControlName="valor_venda">
            </div>
            <div class="mb-3 d-flex flex-column">
              <label class="form-label">Grupo Markup:</label>
              <select formControlName="grupo_markup" id="grupo_markup" class="selectForm form-select">
                <option value="1">Grupo 1 - (2 a 1.8)</option>
                <option value="2">Grupo 2 - (2)</option>
                <option value="3">Grupo 3 - (2.5 a 2)</option>
                <option value="4">Grupo 4 - (3 a 2)</option>
                <option value="5">Grupo 5 - (3.5 a 2)</option>
                <option value="6">Grupo 6 - (3.8 a 2)</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="observacao-edit" class="form-label text-black">Observações:</label>
              <textarea style="resize: vertical;" class="form-control" id="observacao-edit" formControlName="observacao"></textarea>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!formEditarProduto.valid">
              Salvar
            </button>
            <button type="button" class="btn btn-secondary" (click)="closeModalEditarProduto()" data-bs-dismiss="modal">
              Fechar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal para EXCLUIR produto-->
  <div class="modal fade" id="modalDeletar" tabindex="-1" aria-labelledby="modalDeletarProduto" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title text-black fs-5" id="modalDeletarProduto">Excluir produto</h2>
          <button type="button" (click)="closeModalDeletarProduto()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="formDeletarProduto" (ngSubmit)="onSubmitDeletarProduto()">
          <div class="modal-body">
            <div class="">
              <div class="form-label mt-1">
                <p class="text-black">Deseja realmente <strong class="text-danger">EXCLUIR</strong> o produto:<br/>
                  <strong class="text-dark-emphasis">
                    <span *ngIf="formDeletarProduto.get('tipoProduto').value == 'Projeto' || formDeletarProduto.get('tipoProduto').value == undefined">
                      {{ formDeletarProduto.get('produto').value }} - {{ formDeletarProduto.get('tecnologia_servico').value }}
                    </span>
                    <span *ngIf="formDeletarProduto.get('tipoProduto').value == 'Recorrência'">
                      {{ formDeletarProduto.get('produto').value }} - {{ formDeletarProduto.get('mrr').value }} {{ formDeletarProduto.get('tipo_mrr').value }}
                    </span>
                  </strong>
                </p>
              </div>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-danger">
              Excluir
            </button>
            <button type="button" class="btn btn-secondary" (click)="closeModalDeletarProduto()" data-bs-dismiss="modal">
              Fechar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>