.hidden {
    display: none;
}

.titlePage {
    font-size: 24px !important;
    font-family: var(--nairuz-default-oportunidades);
    line-height: 36px;
    margin-bottom: 0 !important;
}

form.formBusca {
    display: flex;
    gap: 50px;
    border: 1px solid #ececec;
    border-radius: 76px;
    padding: 8px 32px;
    background-color: #fff;
}

form.formBusca input:focus, form.formBusca button:focus {
    outline: none;
}

form.formBusca input {
    font-size: 14px;
    font-family: var(--nairuz-default-oportunidades);
    border: none;
    background-color: transparent;
}

form.formBusca button {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: #a2a2a2;
    padding: 0;
}

.termo-buscado {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 2rem;
}

.termo-buscado span {
    font-family: var(--nairuz-default-oportunidades);
    font-size: 14px;
    font-weight: 400 !important;
    line-height: 21px;
    color: #666666;
}

.termo-buscado button {
    display: flex;
    border: none;
    background-color: transparent;
    color: #A2A2A2;
    padding: 0;
}

.topo {
    margin-bottom: 2rem;
}

.topo .btnFiltrarPor {
    border: 1px solid #ececec;
    background-color: #fff;
    padding: 6px 12px;
    border-radius: 76px;
    color: #a2a2a2;
}

#sidebarFilters.hidden {
    display: none !important;
}

#sidebarFilters {
    box-shadow: -10px 0px 16px 0px rgba(0,0,0,0.1);
    z-index: 999;
    overflow-y: auto;
}

#sidebarFilters button {
    width: fit-content;
    align-self: flex-end;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #a2a2a2;
}

.filter-commissions {
    display: flex;
    flex-direction: column;
}

form.formFiltrarColunas {
    position: relative;
}

form.formFiltrarColunas button {
    width: 210px;
    border: 1px solid #ececec;
    border-radius: 76px;
    padding: 6px 12px;
    background-color: #fff;
}

form.formFiltrarColunas button .texto {
    font-size: 14px;
    font-weight: 400 !important;
    font-family: var(--nairuz-default-oportunidades);
    color: #a2a2a2;
}

form.formFiltrarColunas button .icone {
    width: 15px;
    height: 15px;
    line-height: 15px;
    color: #fff;
    background-color: var(--nairuz-secondary);
    border-radius: 50%;
}

form.formFiltrarColunas #listaDeColunas {
    max-height: 280px;
    width: 100%;
    border-radius: 4px;
    padding-left: 16px;
    position: absolute;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px #00000026;
}

form.formFiltrarColunas #listaDeColunas ul {
    max-height: 224px;
    overflow-y: scroll;
    list-style: none;
    padding: 0;
}

form.formFiltrarColunas #listaDeColunas ul::-webkit-scrollbar {
    width: 6px;
    border-radius: 12px;
}

form.formFiltrarColunas #listaDeColunas ul::-webkit-scrollbar-track {
    background-color: #ccc;
}

form.formFiltrarColunas #listaDeColunas ul::-webkit-scrollbar-thumb {
    width: 6px;
    border-radius: 12px;
    background-color: #a2a2a2;
}

form.formFiltrarColunas #listaDeColunas ul  li label {
    font-size: 14px;
    font-weight: 400;
    font-family: var(--nairuz-default-oportunidades);
    color: #a2a2a2;
    margin-left: 5.5px;
}

form.formFiltrarColunas #listaDeColunas button {
    max-width: 156px;
    background-color: var(--nairuz-secondary);
    border-radius: 32px;
    color: var(--nairuz-primary);
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 8px;
}

.filter-commissions label {
    font-size: 14px;
    font-family: var(--nairuz-default-oportunidades);
    line-height: 14px;
    font-weight: 400;
}

.filter-commissions select {
    font-size: 14px;
    font-weight: 400;
    font-family: var(--nairuz-default-oportunidades);
    color: #a2a2a2;
    border: 1px solid #ececec;
    border-radius: 19px;
    padding-inline: 1rem;
}

.filter-commissions select:focus {
    outline: none;
}


#alert-actions {
    position: absolute;
    top: 2.4rem;
    right: 5rem;
    transition: ease-in-out .4s;
    z-index: 1056;
}

#tabela-oportunidades{
    overflow-x: scroll;
}

#tabela-oportunidades th {
    font-size: 12px;
    color: #fff;
    background-color: var(--nairuz-primary);
    font-weight: 600;
}
  
#tabela-oportunidades th, #tabela-oportunidades td {
    border: none;
    border-right: 1px solid #ccc;
    white-space: nowrap;
}

#tabela-oportunidades td {
    font-size: 11px;
    font-family: var(--nairuz-default-oportunidades);
}

#tabela-oportunidades td span {
    font-weight: 400 !important;
}

#tabela-oportunidades mat-icon {
    font-size: 13px;
    width: inherit;
    height: inherit;
    overflow: unset;
}

#tabela-oportunidades mat-icon.editar {
    color: var(--nairuz-secondary);
    transition: all .4s;
    cursor: pointer;
}

#tabela-oportunidades .custom-badge {
    font-weight: 400 !important;
    background-color: #666666;
    color: #fff;
    border-radius: 75px;
    padding-inline: 1rem;
}

#tabela-oportunidades .custom-badge.Exploratória {
    color: #fff;
    background-color: #666666;
}

#tabela-oportunidades .custom-badge.Fora-do-ICP {
    color: #1C1C1C;
    background-color: #FF616A;
}

#tabela-oportunidades .custom-badge.Dentro-do-ICP {
    color: var(--nairuz-primary);
    background-color: var(--nairuz-secondary);
}

#tabela-oportunidades .custom-badge.Vendido {
    color: #fff;
    background-color: var(--nairuz-primary);
}

#tabela-oportunidades .custom-badge.Não-é-uma-oportunidade {
    color: #1C1C1C;
    background-color: #FF616A;
}

#tabela-oportunidades .custom-badge.Não-consegui-qualificar {
    color: #fff;
    background-color: #ff5a0e;
}

.sectionTable {
    max-height: 332px;
    overflow: auto;
}

.sectionTable::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.sectionTable::-webkit-scrollbar-track {
    background: #eee;
}

.sectionTable::-webkit-scrollbar-thumb {
    background-color: var(--nairuz-primary); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
}

#bg-modal {
    width: 100%;
    height: 100%;
    display: none;
    background-color: #0000008f;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1054;
}

.modal-header h2 {
    font-family: var(--nairuz-default-oportunidades);
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    color: var(--nairuz-primary);
    margin-bottom: 12px;
}

.modal-header {
    border-bottom: none;
    margin-bottom: 34px;
}

.modal-header h3 {
    background-color: #ececec;
    border-radius: 51px;
    padding-inline: 40px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    color: #666666;
}

.modal-header .btn-close {
    position: absolute;
    right: 26px;
    top: 35px;
}

.modal-header .btn-close:focus {
    box-shadow: none;
    outline: none;
}

#tabs {
    list-style: none;
}

#tabs li {
    font-family: var(--nairuz-default-oportunidades);
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    color: #A2A2A2;
    border-bottom: 1px solid #A2A2A2;
    padding-inline: 40px;
    padding-bottom: 1rem;
}

#tabs li.active {
    color: var(--nairuz-secondary);
    font-weight: bold;
    border-bottom: 2px solid var(--nairuz-secondary);
}

#formEditarOportunidade {
    padding-inline: 45px;
}

#formEditarOportunidade input, #formEditarOportunidade select {
    border: 1px solid var(--nairuz-primary);
    font-family: var(--nairuz-default-oportunidades);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #666666;
}

#formEditarOportunidade input:focus, #formEditarOportunidade select:focus {
    box-shadow: none;
}

#formEditarOportunidade .formtab label.form-label {
    font-family:  var(--nairuz-default-oportunidades);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.row.container {
    margin-left: 0;
}

.acao-modal-editar {
    color: var(--nairuz-primary);
    font-size: 12px;
    border-radius: 44px;
    padding: 8px 22px;
    margin-top: 78px;
    transition: ease-out 300ms;
}

.voltar-nairuz {
    border: 1px solid var(--nairuz-primary);
    background-color: #fff;
}

.salvar-nairuz {
    color: #fff;
    border: none;
    background-color: var(--nairuz-primary);
}

.avancar-nairuz {
    border: none;
    background-color: var(--nairuz-secondary);
}

.voltar-nairuz:hover, .avancar-nairuz:hover, .salvar-nairuz:hover {
    filter: brightness(.8);
}

.avancar-nairuz:disabled {
    opacity: .5;
}

#modalEdit .hidden {
    display: none;
}

.infos-rodape {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400 !important;
    font-family: var(--nairuz-default-oportunidades);
    color: #a2a2a2;
}

.btnCopiar {
    border: none;
    background-color: transparent;
    transition: ease-in-out .3s;
}

.btnCopiar:focus {
    outline: none;
}

.btnCopiar:hover {
    background-color: #efefef;
}