#validacao-icp select option {
  color: #000;
}

#validacao-icp .perfil {
  font-size: 16px;
  padding-top: 11px;
  padding-bottom: 11px;
}

#validacao-icp .validar {
  width: 400px;
  margin-top: 1rem;
  padding: 7px;
  border: unset;
  background-color: #080b2c;
  font-weight: 500;
  border-radius: 5px;
  transition: .4s;
}

#validacao-icp .validar:hover {
  opacity: .7;
}