.pdf-rodape {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 65px;
  background: #FFF;
}
.pdf-rodape p {
  font-size: 8px;
  font-weight: 400;
  line-height: 12px;
  margin: 0;
  color: #1C1C1C;
}

.pdf-rodape .nairuz {
  margin-top: 6px;
}
.pdf-rodape .direita {
  text-align: right;
}
.pdf-rodape .direita p:not(:first-of-type) {
  margin-top: 8px;
}