/* You can add global styles to this file, and also import other style files */

.fit-Enterprise { background-color: #48BAB8 !important; }
.fit-A { background-color: #00d500 !important; }
.fit-B { background-color: #c1c100 !important; }
.fit-C { background-color: #FFC000 !important; }
.fit-D { background-color: #FF0000 !important; }

* {
  color: #fff;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
}

h1 {
  font-weight: 700 !important;
  font-size: 2rem !important;
}

span {
  font-weight: 600 !important;
}

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#tabela-valores div, #tabela-valores td,
mat-paginator span, mat-option span,
.mat-mdc-paginator-page-size-label, .mat-mdc-paginator-range-label {
  color: #000;
}

mat-paginator .mat-mdc-select-arrow svg {
  fill: #000;
}
